---
import { SITE_TITLE, SITE_TAGLINE, SITE_DESCRIPTION } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import Photo from '@src/assets/me.jpg';
import Prose from '../components/Prose.astro';
import { projects } from './projects/projects';
import ProjectList from '../components/ProjectList.astro'


const top6Projects = projects.slice(0, 6);
---

<BaseLayout title={SITE_TITLE + ' - ' + SITE_TAGLINE} description={SITE_DESCRIPTION}>
	<div class='container'>
		<div class='w-full md:flex md:items-center gap-16 mb-10'>
      <div class="text-pretty leading-9">
        <h1 class="text-4xl font-bold mb-4">Hi There 👋, Dhika Here! </h1>
        <Prose>
          <div class="text-lg">
            <p>I am a Front-end Engineer from Indonesia. I portfolio on <a href="https://yanuar-ardhika.vercel.app/" target="_blank">portfolio website</a>.</p>
          </div>
        </Prose>
      </div>
      <Image src={Photo} alt="Yanuar Ardika" width={300} loading="eager" class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
		</div>
		<main>
      <div>
        <div class="flex justify-between gap-2 mb-1">
          <h2 class="text-lg font-bold mb-3">My Projects</h2>
          <a href="/projects/" class="inline-block py-2 underline dark:prose-invert">All projects &raquo;</a>
        </div>
        <ProjectList projects={top6Projects}/>
      </div>
		</main>
	</div>
</BaseLayout>
